* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* body {
  background-color: black;
} */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 9000;
}

.logo-image {
  width: 200px;
  margin: auto 50px;
}

.nav-Menu {
  display: block;
  position: relative;
  width: 100%;
}

.nav-Menu a {
  position: relative;
  display: flex;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  color: white;
  transition: 0.5s ease;
}

.nav-Menu a:hover {
  color: blueviolet;
}

.active_nav {
  background-color: black;
}
.menu {
  display: flex;
  justify-content: end;
  list-style-type: none;
}

.hamburger {
  display: none;
  float: right;
  cursor: pointer;
  margin-right: 20px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all all 0.3s ease-in-out;
}

.slideshow {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: 100vh;
  padding: 0;
  align-items: flex-start;
  /* overflow: hidden; */
  /* 
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: 1px solid blue; 
  */
}
.slideshow-item {
  position: absolute;
  /* display: block; */
  width: inherit;
  height: inherit;
  text-align: center;
  opacity: 0;
  animation: cycleImage 21s infinite;
  border: 2px solid black;
}
.slideshow-item:nth-child(1) {
  animation-delay: 0s;
}
.slideshow-item:nth-child(2) {
  animation-delay: 8s;
}
.slideshow-item:nth-child(3) {
  animation-delay: 15s;
}

.background-image {
  position: absolute;
  display: block;
  top: 0px;
  width: 100%;
  /* object-fit: cover; */
}
.slideshow-item-text {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem 1rem;
}
.slideshow-item-text h1 {
  font-size: 5rem;
}
.slideshow-item-text h2 {
  font-size: 3rem;
}
@keyframes cycleImage {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 2px;
  }
  .nav-Menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s;
  }
  .nav-Menu a {
    font-size: 1.8rem;
  }
  .nav-Menu.active {
    left: 0;
  }
  .slideshow-item {
    text-align: center;
    /* width: 100vw; */
  }
  .slideshow-item-text {
    width: 100vw;
  }
  .slideshow-item-text h1 {
    font-size: 3rem;
  }
  .slideshow-item-text h2 {
    font-size: 2rem;
  }
}
