body {
    font-family: Helvetica , Verdana , Arial;
    font-family: Times New Roman , georgia , garamond;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}




/*
.top-header {
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
    background-color: darkgray;
    outline: 3px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}


.logo {
    border: 1px solid red;
    background-color: red;
    text-align: center;
}

.top-header-center {
    border: 1px solid blue;
    background-color: blue;
    text-align: center;
}
.top-header-left {
    border: 1px solid green;
    background-color: green;
    text-align: center;
}

.logo1 {
    border: 1px solid red;
    background-color: yellow;
    text-align: center;
}

.top-header-center1 {
    border: 1px solid blue;
    background-color: orange;
    text-align: center;
}
.top-header-left1 {
    border: 1px solid green;
    background-color: #800062;
    text-align: center;
}
*/


.banner1,.banner2,.banner3,.banner4{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 20%;
/*
    transform: translate(-50%,-50%);
    animation: zoom-in 3s linear infinite;
*/
}

@keyframes zoom-in {
    100%{
        width: 120%;
    }  
}

.text-box {
    width: 600px;
    position: absolute;    
    top: 200px;
    left:100px;
    color: white;
/*
    animation: textup 12s linear infinite;
    transform: translateY(100px);
*/
}

.text-box h1 {
    margin-bottom: 40px;
}

.text-box p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 80px;

}

.text-box span {
   background: white;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0;
}

/*
.banner1 {
    animation: slide1 12s linear infinite;
}
.banner2 {
    animation: slide2 12s linear infinite;
}
.banner3 {
    animation: slide3 12s linear infinite;
}
.banner4 {
    animation: slide4 12s linear infinite;
}
*/

/*
@keyframes slide1 {
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }    
    100%{
        visibility: visible;
    }
}

@keyframes slide2 {
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3 {
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4 {
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
*/

/*
@keyframes textup {
    10%{
       transform: translateY(0px);
    }
    100%{
       transform: translateY(0px); 
    }
}
*/

/*
.text-box1{
    animation-delay: 0s;
}
.text-box2{
    animation-delay: 3s;
}
.text-box3{
    animation-delay: 6s;
}
.text-box4{
    animation-delay: 9s;
}
*/


/*
img {
    opacity: 0.6;
}
*/
/*
.blur {
    filter: blur(20px);
}
*/

























